.SearchItemList ol {
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-align: center;
}

.SearchItemList ol li {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	padding: .4em;
	margin: .5em 0;
	color: white;
	border-bottom: 1px solid white;
	text-decoration: none;
	cursor: pointer;
	transition: font-size 0.3s;
}

.SearchItemList ol li:hover {
	font-size: 17px;
}
