.MovieDetails {
	display: flex;
	flex-direction: column;
	height: auto;
	flex-basis: 60%;
	box-sizing: border-box;
	overflow-y: auto;
	scroll-behavior: auto;
	color: white;
	padding: 10px;
}

.MovieDetails h2 {
	text-align: center;
	margin: 20px 0;
	text-decoration: underline;
}

.MovieData {
	display: flex;
	margin-bottom: 20px;
}

.ImgDiv {
	flex-basis: 40%;
	width: auto;
	float: left;
	margin-right: 30px;
}
.DetailsDiv {
	flex-basis: 60%;
	margin-left: 0px;
	display: block;
	margin-bottom: 30px;
}

.DetailsDiv p {
	margin-bottom: 30px;
}

.MovieDetails button {
	align-self: center;
}
