.WatchList {
	display: flex;
	flex-basis: 20%;
	flex-direction: column;
	border-left: 1px solid white;
	overflow-y: auto;
	scroll-behavior: auto;
}

.WatchList p {
	color: white;
	text-align: center;
	font-size: 17px;
	padding: 10px 0;
	border-bottom: 1px solid white;
}

.WatchList ol {
	width: 100%;
	font: 15px 'trebuchet MS', 'lucida sans';
	padding: 0;
	margin-bottom: 4em;
	text-align: center;
}

.WatchList ol li {
	position: relative;
	display: block;
	padding: .4em .4em .4em 2em;
	padding: .4em;
	margin: .5em 0;
	color: white;
	border-bottom: 1px solid white;
	text-decoration: none;
	cursor: pointer;
	transition: font-size 0.2s;
}

.WatchList ol li:hover {
	font-size: 17px;
}
