.Button {
	margin: 10px 0;
	padding: 7px 15px;
	background: white;
	align-self: center;
	border-radius: 4px;
	cursor: pointer;
}

Button:hover {
	background: rgb(248, 244, 244);
}

Button:active {
	font-size: 14px;
}
