.Main {
	display: flex;
	margin: 100px auto;
	width: 70%;
	height: 70vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background: rgb(91, 3, 91);
	background: linear-gradient(270deg, rgba(91, 3, 91, 1) 0%, rgba(173, 8, 122, 1) 100%);
}

.SelectionDiv {
	display: flex;
	flex-basis: 20%;
	flex-direction: column;
	scroll-behavior: auto;
	border-right: 1px solid white;
	overflow-y: auto;
	scroll-behavior: auto;
}

.Main input {
	color: white;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
